html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

.top-bg{
    background-image: url(/img/bg.JPG);
    margin: 0 calc(-50vw + 50%);
    
}

 .o-predmetu{
    background-color: #E6E6E6;
    margin: 0 calc(-50vw + 50%);
    padding-top: 5px;
    padding-left: 22%;
    padding-bottom: 4%;
    margin-top: -18px;
  }

.top{
    padding-left: 15.3%; 
    padding-top: 20px;
}

.title-name {
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.subtitle {
    font-style: italic;
    font-size: 25px;
    text-decoration: none;
    margin-top: 0px;
    color: #B6784B;
}
 
  .topnav {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .topnav li {
    display: inline-block;
    position: relative;
  }
  
  .topnav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding-top: 40px;
    
    
  }
  
  .topnav li:hover:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-100%);
    width: 17px;
    height: 11px;
    background-image: url(/img/menu_bullet.gif);
  }

  .topnav li a:first-child{
    padding-left: 0px;

  }
  
  
  .ITW-predmet{
    font-size: 20px;
    color: #b15e23;
  }
  
  .ITW-popis{
    font-size: 12px;
    line-height: 18px;
    width: 82%;
  }

  .seznam-prednasek h2{
    margin: 0;
  }

  .seznam-prednasek{
    width: 550px;
    margin-top: 20px;
    float: left;
  }

  .tabulka-prednasek{
    height: 300px;
    margin-top: 30px;
  }

  .tabulka-prednasek div:nth-child(2n){
    margin-right: 0px;
  }
  
  .tabulka-prednasek div{
    width: 250px;
    height: 130px;
    display: inline-block;
    overflow: hidden;
    margin-right: 25px;

  }


  .tabulka-prednasek div a{
    position: absolute;
    margin-left: 14px;
    text-decoration: none;
    border-bottom: dotted;
    color:black;
    font-weight: bold;
    border-width: 2px;
    border-color:#CB9873;
    padding-right: 30px;
    font-size: 15px;
    width: 160px;
  }

  .tabulka-prednasek div p{
    margin-bottom: 0;
    margin-top: -45px;
    position:absolute;
    width: 150px;
    padding-left: 72px;
    font-size: 13px;
    color: #656565;
    line-height: 19px;
    width: 190px;
    word-spacing: 1px;
    letter-spacing:0px;
    
    

  }

  .prednaska-column{
    width: 200px;
    height: 290px;
    display: inline-block;
    margin-top: 0;
    padding-right: 65px;
  }

  
  h2{
    font-size: 20px;
    color: #b15e23;
  }

  /* .seznam-prednasek a {
    float:left;
    margin-top: 0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-bottom: dotted;
    border-color: #b15e23;
    border-width: 1px;
    padding-right:30%;
    padding-bottom: 3px;
    
  }
    


  .seznam-prednasek p {
    margin-top: 30px;
    padding-top: 30px;
    font-size: 13px;
    color: #656565;
  }

  .seznam-prednasek img{
    margin-top: -10px;
  }
  
  .prednaska1 a{
    margin-top: -50px;
    margin-left: 60px;
    padding-right: 30px;
  }

    
  .prednaska1 p{
    margin-top: -50px;
    margin-left: 60px;
    
  }

  .img1{}

  .img2{
    float: left;
  }

  .prednaska2 a{
    padding-right: 30%;
    margin-left: 58px;
    margin-top: -55px;
  }
  
  .prednaska2 p{
    padding-top: 35px;
    
    
  }

  .prednaska3 a{
    margin-top: 0px;
  }
  
  .img3{
    float: left;
  }

  .prednaska4 a{
    padding-right: 50%;
  }
  
  .prednaska4 p{
   padding-top: 30px;
   margin-left: 10px;
  }

  .prednaska4 img{
    float: left;
  } */
  
  .Hodnoceni{
    width: 500px;
    margin-right: 0px;
    margin-bottom: 30px;
    
  }
  
  .tabulka {
    border: black;
    border-style: solid;
    width: 100%;
    border-width: 3.5px;
  }

  .tabulka th{
    border: black;
    border-style: solid;
    border-left-style: dotted;
    border-top-style: dotted;
    border-width: 2.5px;
    background-color: #b15e23;
    opacity: 60%;
    font-size: 14px;
    font-weight: bold;
  }

  .tabulka td{
    border: black;
    border-style: solid;
    font-size: 14px;
    border-left: none;
    border-right: none;
    border-top-width: 2px;
    border-bottom-width: 1px;
    
  }

  .tabulka td{
    text-align: center;
  }

  .tabulka td:first-child{
    text-align:start;
  }

  .Cviceni-popis{
    height: 500px;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  .Cviceni-seznam h2{
    margin-bottom: 23px;
    margin-top: 20px;
  }
  
  .Cviceni-seznam{
    width: 500px;
    float: right;
    padding-right: 200px;
    height: auto;
    background-color: #E6E6E6;
    margin: 0 calc(-50vw + 50%);
    padding-bottom: 40px;
  }
  
  .Cviceni-popis div{
    height: 105px;
  }

  .Cviceni-popis p{
    padding-top: 28px;
    padding-left: 70px;
    font-size: 13px;
    word-spacing: 2px;
    line-height: 18px;
    border-bottom: dotted;
    height: 60px;
    border-width: 1.5px;
    color: #656565;
    border-color: #b15e23;
  }
  
  .Cviceni-seznam a{
    position: absolute;
    display: block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }

  .Cviceni-seznam img{
    float: left;
    margin-top: 30px;
  }

  .kontakty-predmety div{
    display: inline-block;
  }

  .Kontakty{
    width: 300px;
  }
  
  .Kontakty h2{
    color: white;
    font-weight: lighter;
    margin-bottom: 35px;
  }
  
  .Kontakty div{
    font-size: 13px;
    display: inline;
    line-height: 20px;
  }
  
  .Kontakty a{
    margin-left: 70px;
    text-decoration: none;
    color: #CB9873;
  }
  
  .Kontakty dt{
    width: auto;
    float: left;
    color: white;
    font-weight: 50;
  }

  .Kontakty dl{
    margin-top: 0px;
    padding-bottom: 0px;
  }


  .Predmety{
    width: 300px;
  }
  
  .Predmety h2{
    color: white;
    font-weight: lighter;
    margin-top:20px;
    padding-top: 0px;

  }
  
  .custom-list {
    list-style: none;
    padding-left: 0;
    line-height: 20px;
    padding-bottom: 30px;
    
    
  }
  
  .custom-list a{
    text-decoration: none;
    color: #CB9873;
  }
  
  .custom-list li {
    position: relative;
    padding-left: 20px;
    font-size: 13px;
  }
  
  .custom-list li::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url(/img/footer_list_bullet.gif);
    width: 8px;
    height: 8px;
    left: 0;
    top: 20%;
  }

  footer{
    background-color: #441F05;
    margin: 0 calc(-50vw + 50%);
    padding-top: 0px;
    padding-left: 22%;
    margin-bottom: -10%;
  }

  @media (min-width: 576px) {
 
  body {
    max-width:100%;
    
  }

  .top{
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
        
  }

  .top-bg{
    background-color: #411D07;
    
  }

  .topnav{
    margin-top: 70px;
    background-color: #B15E23;
    margin-left: -20px;
    width: 100%;
    height: 135px;
  }

  .topnav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 30px;
    padding-top: 17px;
    
  }
  
  .topnav li a:first-child{
    padding-left: 28px;

  }

  .topnav li {
    display: inline-block;
    position: relative;
  }

  .topnav li:first-child {
  }

  .o-predmetu{
    width: 1;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    margin-top: -18px;

  }

  .ITW-popis{
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    display: block;
  }

  @media (min-width:768px) {
    
  }

}